@import url('base.css');

/* a partir de 625px -> 2 cards por linha */

main {
    max-width: 1280px;
}

#cards-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 625px) {
    #cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3em;
    }
}